<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(campaign) -%>">
  <span class='subject'>
    <%= campaign.subject %>
  </span>
  <%= preview campaign %>
  <span class='actions'>
    <%= action_link_edit campaign %>
    <%= action_link_send_email campaign %>
    <%= action_link_delete campaign %>
  </span>
</li>
