#actions
  %ul.collapsible_menu
    %li.not_a_link= link_to t(".weekly_newsletter"), "#", :class => "folder_icon"
    = render "shared_links", :nltype => 1
  %ul.collapsible_menu
    %li.not_a_link= link_to t(".selected_posts_newsletter"), "#", :class => "folder_icon"
    = render "shared_links", :nltype => 3
  %ul.collapsible_menu
    %li.not_a_link= link_to t(".free_edito"), "#", :class => "folder_icon"
    = render "shared_links", :nltype => 2
  %ul.collapsible_menu
    %li.not_a_link= link_to t(".newsletter"), "#", :class => "folder_icon"
    %li= link_to t(".manage"), refinery.mailchimp_admin_campaigns_path, :class => "folder_edit_icon"
    %li= link_to t(".create_new"), refinery.new_mailchimp_admin_campaign_path, :class => "page_add_icon"

= content_for :stylesheets, stylesheet_link_tag('refinery/blog/backend')

