#actions
  %ul
    %li= link_to "add new posts campaign", refinery.new_mailchimp_admin_posts_campaign_path, :id => "add_new_posts_campaign"
#records
  %ul#soratble_list
    - @posts_campaigns.each do |posts_campaign|
      %li.clearfix.record{:class => cycle("on", "on-hover")}
        %span.posts_campaign_title
          = link_to "#{posts_campaign.subject}", refinery.mailchimp_admin_posts_campaign_path(posts_campaign)
        %span.actions
          = link_to "delete", refinery.mailchimp_admin_posts_campaign_path(posts_campaign), :method => :delete, :class => "delete_posts_campaign"
          = link_to "edit", refinery.edit_mailchimp_admin_posts_campaign_path(posts_campaign), :class => "edit_posts_campaign"
